.hover_color:hover option{ 
    background-color: white;
}

  
/*
.hover_color option:hover {
    background-color: white; border:0px solid red 
}


.btn-primary {
    background-color: blue;
  }
  
  .currency-dropdown option:hover {
    background-color: rgb(132, 241, 150);
    color: black;
  }
  
  .currency-dropdown option:checked {
    background-color: white;
    color: black;
  }
  
  .alert.alert-secondary {
    background-color: rgb(148, 229, 154);
    color: white;
    border: none;
  }
  
  option:hover {
    background-color: white;
  }

*/